TPJHILEDARROW_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiLedArrow.bmp
TPJHIMOTOR_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiMotor.bmp
TPJHIPANEL_JVGIFANI_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiPanel_jvGIFAni_pjh.bmp
TPJHIPIPE_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiPipe.bmp
TPJHIPIPEJOINT_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiPipeJoint.bmp
TPJHITANK_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiTank.bmp
TPJHIVALVE_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiValve.bmp
TPJHIVALVE2_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiValve2_pjh.bmp
TPJHITANK2_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiTank2.bmp
TPJHIPIPE2_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiPipe2.bmp
TPJHIPIPEJOINT2_PJH BITMAP E:\pjh\project\util\HiMECS\Application\Resource\TpjhiPipeJoint2.bmp
